<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Cocktails</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
  <script src="index.js"></script>
</head>

<body>
  <h1>Cocktails</h1>
  <ul>
    <% alcoholList.forEach(alcohol => { %>
      <li>
        <a href="/alcohol/<%= alcoholList %>"><%= alcohol %></a>
      </li>
      <% }) %>
  </ul>
  <ul>
    <% cocktails.forEach(cocktail => { %>
      <li>
        <a href="/cocktail/<%= cocktails %>"><%= name %></a>
      </li>
      <% }) %>
  </ul>
</body>

</html>
