<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Cocktails</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
  <script src="index.js"></script>
</head>

<body>

  <h1>Alcohols</h1>
  <ul>
    <% alcoholList.forEach(alcohols => { %>
      <li>
        <a href="/alcohols/<%= alcoholList %>"><%= alcohols %></a>
      </li>
      <% }) %>
  </ul>



</body>

</html>