<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Cocktails</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css" />
  <script src="index.js"></script>
</head>

<body>
  <h1> <% = cocktails %></h1>
  
  <ul class="cocktails-list-container">
    <% cocktails.forEach(cocktail => { %>
      <li class="cocktails-list-item">
        <a href="<%= cocktail.name %>" target="_blank">
          <%= cocktail.name %>
        </a>
      </li>
    <% }) %>
  </ul>

</body>

</html>