<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todos</title>                               <!-- index.js ből emeli át -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="index.js"></script>
</head>
<body>
  <h1>Things to do today <% todos.forEach(elem => { %>
    <%= elem %>
    <% }) %></h1>
</body>
</html>
